### 백테스팅

In [5]:
import pandas as pd
import numpy as np
import scikit-learn

In [6]:
## 로컬 파일 불러오기
file_loc = 'C:/Users/sds/Downloads/INDEX_GLOBAL_edit2.csv' ## 위치 지정
df = pd.read_csv(file_loc)

In [7]:
pd.to_datetime(df.Dates, format='%Y-%m-%d')

0     2000-01-31
1     2000-02-29
2     2000-03-31
3     2000-04-28
4     2000-05-31
5     2000-06-30
6     2000-07-31
7     2000-08-31
8     2000-09-29
9     2000-10-31
10    2000-11-30
11    2000-12-29
12    2001-01-31
13    2001-02-28
14    2001-03-30
15    2001-04-30
16    2001-05-31
17    2001-06-29
18    2001-07-31
19    2001-08-31
20    2001-09-28
21    2001-10-31
22    2001-11-30
23    2001-12-31
24    2002-01-31
25    2002-02-28
26    2002-03-29
27    2002-04-30
28    2002-05-31
29    2002-06-28
         ...
192   2016-01-29
193   2016-02-29
194   2016-03-31
195   2016-04-29
196   2016-05-31
197   2016-06-30
198   2016-07-29
199   2016-08-31
200   2016-09-30
201   2016-10-31
202   2016-11-30
203   2016-12-30
204   2017-01-31
205   2017-02-28
206   2017-03-31
207   2017-04-28
208   2017-05-31
209   2017-06-30
210   2017-07-31
211   2017-08-31
212   2017-09-29
213   2017-10-31
214   2017-11-30
215   2017-12-29
216   2018-01-31
217   2018-02-28
218   2018-03-30
219   2018-04-30
220   2018-05-31
221   2018-06-08
Name: Dates, Length: 222, dtype: datetime64[ns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 47 columns):
Dates        222 non-null object
Year         222 non-null int64
Month        222 non-null int64
YearMonth    222 non-null object
Day          222 non-null int64
KOSPI2       222 non-null float64
KOSPIHDY     108 non-null float64
KRX100       210 non-null float64
KOSDQ150     102 non-null float64
KBPMAB02     210 non-null float64
KBPMABI3     108 non-null float64
KBPMMMCI     91 non-null float64
RICIGLTR     222 non-null float64
DWGRTT       163 non-null float64
MXWO0HC      222 non-null float64
HSI          222 non-null float64
HSCEI        222 non-null float64
MXZH         222 non-null float64
MXCN         222 non-null float64
SHSZ300      198 non-null float64
MXWD0IT      222 non-null float64
TPX          222 non-null float64
NKY          222 non-null float64
MXJP         222 non-null float64
MXIN         222 non-null float64
SX5E         222 non-null float64
MXEU         222 non-null float64
MXASJ        222 non-null float64
MXMS         222 non-null float64
MXBR         222 non-null float64
SPX          222 non-null float64
VNINDEX      216 non-null float64
MXRU         222 non-null float64
MSAUSEA      142 non-null float64
MXMS.1       222 non-null float64
MXWD0MT      222 non-null float64
MXWD0FN      222 non-null float64
MXWO         222 non-null float64
MXEF         222 non-null float64
MXBRIC       222 non-null float64
GBIEMESE     66 non-null float64
JPEIDIVR     222 non-null float64
LD08TRUU     222 non-null float64
LG30TRUH     222 non-null float64
H10983US     199 non-null float64
JHDCGBIG     222 non-null float64
MXWD         222 non-null float64
dtypes: float64(42), int64(3), object(2)
memory usage: 81.6+ KB

In [9]:
## 시간컬럼 변경

In [10]:
df['datetime'] = df['Dates'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [15]:
df.describe()

,Year,Month,Day,KOSPI2,KOSPIHDY,KRX100,KOSDQ150,KBPMAB02,KBPMABI3,KBPMMMCI,...,MXWO,MXEF,MXBRIC,GBIEMESE,JPEIDIVR,LD08TRUU,LG30TRUH,H10983US,JHDCGBIG,MXWD
count,222.000000,222.000000,222.000000,222.000000,108.00000,210.000000,102.000000,210.000000,108.000000,91.000000,...,222.000000,222.000000,222.000000,66.000000,222.000000,222.000000,222.000000,199.000000,222.000000,222.000000
mean,2008.756757,6.418919,29.918919,194.368559,1886.92750,3219.228238,1013.844608,169.597804,215.061139,112.517022,...,1346.980946,784.874144,227.683649,97.812814,485.531396,251.711998,253.471801,218.319457,281.750829,331.868243
std,5.356463,3.458899,1.828062,76.383068,513.34185,1192.984819,162.963254,39.922382,21.678499,6.408214,...,333.400004,296.180988,101.197112,5.858939,206.396360,59.579029,114.225245,87.224002,65.849728,81.532319
min,2000.000000,1.000000,8.000000,58.910000,1061.16000,924.290000,841.130000,101.909000,172.730000,100.000000,...,738.180000,251.400000,55.280000,87.060200,170.380000,139.510000,105.080000,90.858000,166.733000,177.630000
25%,2004.000000,3.000000,29.000000,113.862500,1397.20500,2047.782500,916.992500,134.986650,196.222500,107.547000,...,1090.215000,492.977500,122.485000,93.634575,312.082500,202.287500,154.595000,143.691000,222.708000,272.402500
50%,2009.000000,6.000000,30.000000,217.250000,1928.53000,3619.850000,965.745000,169.399550,216.445300,113.873000,...,1314.350000,894.610000,256.335000,97.246550,431.150000,254.575000,208.515000,203.770000,282.793000,328.675000
75%,2013.000000,9.000000,31.000000,255.622500,2320.19750,4124.307500,1048.972500,206.635750,236.231675,118.898500,...,1608.920000,1015.747500,302.047500,101.079650,674.900000,307.030000,364.336550,302.521500,333.858250,399.032500
max,2018.000000,12.000000,31.000000,333.570000,2812.95000,5319.890000,1664.360000,229.498000,243.690700,119.627000,...,2213.240000,1337.450000,466.900000,110.491100,858.440000,339.310000,471.099300,376.094000,389.807000,541.670000

In [18]:
from sklearn import svm
from sklearn import linear_model

In [22]:
model = linear_model.LinearRegression(fit_intercept=True)

In [25]:
from statsmodels import regression
model = OLS(y, X)

NameError: name 'OLS' is not defined